@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

.app .container {
  padding-top: 2rem;
}

.post-form {
  padding-bottom: 2rem;
}

.app.login {
  width: 100vw;
  height: 100vh;

  display: flex;

  align-items: center;
  justify-content: center;
}

.card-body {
  font-family: 'Trade Winds';
  color: peru;
  font-size: large;
}

.card-title {
  font-family: 'Times New Roman', Times, serif;
  color: blue;
}
